doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Security: a Sunflower principle
    include ../includes/head.pug
        link(href="../static/favicon.png" rel="icon" type="image/png")
  body
    main
      article
        h1 Security: a Sunflower principle
        p This is a freely-licensed creative work called a <em>standard</em>. It
          |  sets the tone for how Sunflower software developers should build
          | code that users can reasonably trust.
        p: b This document can change; just open a Pull Request on 
          a(href="https://0xacab.org/sunfloweraffinitygroup/website/website")
            | GitLab
          |  if you have that ability.
        p: b This document is supposed to standardize <em>websites and web apps</em>.
          |  Standards for a secure way of developing apps in your favorite
          | framework could be coming soon.
        h2 Always use HTTPS.
        p Sunflower websites are always to be served over HTTPS. This should go 
          | without saying, but we might update this section and add some
          | resources below.
        h2 Web apps should <em>not</em> (attempt to) be zero-trust.
        p See 
          a(href="https://artemislena.eu/posts/2020/12/dont-use-webapps.html")
            | FantasyCookie17’s post on how web apps can’t pretend to be
            | zero-trust
          | . Websites are rather hard to get right, but have the potential to
          |  be entire sandboxed applications fitting right into the OS’s
          | permission model. Listen up.
        h3 Don’t use outside resources. Period.
        p Don’t use resources outside of the ones you can statically host.
          | This not only opens the gate to 
          | <dfn>
          | Cross Site Scripting
          | (<abbr title="Cross site scripting">XSS</abbr>)
          | </dfn>, but such a request would need to be end-to-end-encrypted,
          | and that’s trying to be something we’re not: zero trust.
        h3 Use JavaScript very sparingly.
        p Use JavaScript in such a way that it <em>progressively enhances</em>
          |  the experience of those who don’t disable it.
